

* {
  box-sizing: border-box;
}

blockquote,
body,
button,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
}

a {
  text-decoration: none;
}

button,
select {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
}

a,
button,
input,
select,
textarea {
  -webkit-tap-highlight-color: transparent;
}

:root {
  overflow-x: hidden;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: #f6f9fc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Helvetica Neue","Arial",sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  position: relative;
}

body,
html {
  font-family: "Helvetica Neue","Arial",sans-serif;
  color: #32325d;
  min-height: 100%;
}

.stripes-container {
  position: absolute;
  min-height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(25, 4%);
  grid-template-rows: repeat(25, 4%);
  transform: skewY(-12deg);
}

.stripe:nth-child(1) {
  background-color: #e6ebf1;
  grid-row: 5;
  grid-column: 1 / 3;
}

.stripe:nth-child(2) {
  grid-row: 6;
  grid-column: 1/8;
  background-color: #43458b;
}

.stripe:nth-child(3) {
  grid-row: 7;
  grid-column: 24 / 26;
  background-color: #6772e5;
}

.stripe:nth-child(4) {
  background-color: #e6ebf1;
  grid-row: 8;
  grid-column: 21 / 26;
}

.stripe:nth-child(5) {
  box-shadow: inset 0 0 0 1.5px #e6ebf1;
  grid-row: 9;
  grid-column: 21 / 25;
}

.container {
  padding: 30px;
  z-index: 5;
}

h1 {
  font-size: 2.6rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-right: 10px;
}

header img {
  height: 50px;
}

nav a {
  margin-left: 40px;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
  color: #6b7c93;
}



nav a:hover {
  color: #32325d;
}

h2 {
  margin: 80px 0 20px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #525f7f;
}

h2:first-of-type {
  margin-top: 40px;
}

main {
  padding: 0 10px;
  max-width: 1146px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

p,
li {
  color: #6b7c93;
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-family: "Helvetica Neue","Arial",sans-serif;
}

li {
  list-style-type: disc;
  margin-left: 12px;
  line-height: 2.8rem;
}

ul {
  margin: 10px 0px;
  display: block;
}

.demos {
  display: flex;
  justify-content: space-between;
}

section a,
section a:visited {
  color: #6772e5;
  font-family: "Helvetica Neue","Arial",sans-serif;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  padding: 30px 30px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  min-height: 660px;
  position: relative;
}

.preview img {
  width: 100%;
  object-fit: contain;
}

.preview.typographic {
  margin: 0 30px;
}

.tools,
.client-libs {
  display: flex;
}

.client-libs {
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.client-libs a {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.client-libs h3 {
  font-family: "Helvetica Neue","Arial",sans-serif;
  font-weight: 500;
}

h2#subscribe {
  border-top: 2px solid #e6ebf1;
  padding-top: 60px;
  text-align: center;
}

.newsletter {
  text-align: center;
}

.newsletter .sign-up {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.tools a {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin: 0px 15px 15px 15px;
  z-index: 499;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: normal;
  overflow: hidden;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.tools a:first-child,
.client-libs a:first-child {
  margin-left: 0;
}

.tools a:last-child,
.client-libs a:last-child {
  margin-right: 0;
}

.client-libs a {
  text-align: center;
}

.client-libs h3 {
  font-size: 1.7rem;
}

.title {
  margin: 15px 0px;
  font-size: 1.7rem;
  line-height: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.025em;
}

h3.title a {
  color: #32325d;
}

.uppercase {
  font-size: 1.7rem;
  line-height: 2.1rem;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Helvetica Neue","Arial",sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.container a:hover,
.container a:focus {
  color: #32325d;
}

a.button,
a.button:visited,
a.button:hover {
  white-space: nowrap;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 14px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-decoration: none;
  transition: all 0.15s ease;
  color: #fff;
  background: #6772e5;
  max-width: 180px;
  margin-top: 30px;
  position: absolute;
  bottom: 30px;
}

a.button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.08);
  background: #7795f8;
}

.sign-up {
  flex: 0 0 50%;
}

.sign-up form {
  margin-top: 25px;
}

.archive li {
  display: inline;
  padding: 0 15px 0 0;
  white-space: nowrap;
  font-size: 1.7rem;
  line-height: 2.6rem;
}

.collect-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-box-shadow 0.15s ease;
  transition: -webkit-box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease;
  transition: box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
  background: #fff;
  -webkit-box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25),
    0 1px 3px -1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  max-width: 440px;
  font-size: 16px;
  line-height: 22px;
  color: #32325d;
  margin: 20px auto;
}

.collect-email input {
  border: none;
  outline: none;
  margin: 0;
  padding: 9px 13px;
  background: transparent;
  font: inherit;
  color: #32325d;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 50%;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

.collect-email button {
  height: inherit;
  box-shadow: none;
  color: #0099e5;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  padding: 9px 13px;
  font: inherit;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #6772e5;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  padding-left: 15px;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
}

.collect-email button:hover {
  transform: translateY(-1px);
}

.collect-email-error {
  display: none;
  font-size: 16px;
  line-height: 22px;
  color: #32325d;
  margin: 20px auto;
}

.collect-email-error.visible {
  display: block;
}

.signup-success {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 22px 0;
  background: #f7f8f9;
  border-radius: 5px;
  border: none;
}

.signup-success section {
  max-width: 400px;
  height: 200px;
  text-align: center;
}

.signup-success .bold {
  font-family: "Helvetica Neue","Arial",sans-serif;
  font-weight: 600;
}

.signup-success img {
  margin-bottom: 10px;
}

.signup-success p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
}

img.social-icon {
  width: 22px;
}
svg.LangIcon-svg {
  width: 24px;
  height: 24px;
}

@media (max-width: 1024px) {
  .demos,
  .tools,
  .client-libs {
    flex-direction: column;
  }

  .stripes-container {
    display: none;
  }

  nav a {
    display: block;
    text-align: right;
    margin-bottom: 5px;
  }

  nav a.arrow::after {
    content: none;
  }

  .preview.typographic {
    margin: 15px 0;
    /* Reset left and right margin */
  }

  .preview {
    margin: 15px 0;
    min-height: 0;
    max-width: 100%;
  }

  .preview img {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  .tools a,
  .signup-success section,
  .newsletter {
    padding: 30px;
  }

  .tools a,
  .client-libs a {
    margin: 15px 0;
  }

  a.button,
  a.button:hover,
  a.button:visited {
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 0 auto;
    bottom:0;

  .newsletter {
    flex-direction: column;
    padding: 20px;
  }

  .sign-up {
    border: none;
    margin: 0;
    padding: 0px;
    margin-bottom: 25px;
  }

  .archive {
    padding: 0;
    padding-top: 25px;
  }

  .collect-email button {
    font-size: 11px;
  }

  .signup-success section {
    height: auto;
  }
}
