.container {
  /* padding: 0 2rem; */

  /* padding: 30px; */
  /* z-index: 5; */
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.img {
  width: 100%;
}

.stripesContainer {
  position: absolute;
  /* min-height: 80%; */
  min-height: 60%;
  width: 100%;
  display: grid;
  z-index: 0;
  grid-template-columns: repeat(25, 4%);
  grid-template-rows: repeat(25, 4%);
  transform: skewY(-12deg);
}

.stripe:nth-child(1) {
  background-color: #e6ebf1;
  grid-row: 5;
  grid-column: 1 / 3;
}

.stripe:nth-child(2) {
  grid-row: 6;
  grid-column: 1/8;
  background-color: #43458b;
}

.stripe:nth-child(3) {
  grid-row: 7;
  grid-column: 24 / 26;
  background-color: #6772e5;
}

.stripe:nth-child(4) {
  background-color: #e6ebf1;
  grid-row: 8;
  grid-column: 21 / 26;
}

.stripe:nth-child(5) {
  box-shadow: inset 0 0 0 1.5px #e6ebf1;
  grid-row: 9;
  grid-column: 21 / 25;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
